html {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

button {
    width: 180px;
    height: 50px;
    background-color: rgb(140, 107, 189);
    color: white;
}

h1 {
    color:rgb(140, 107, 189);
}

p {
    font-weight: bold;
    font-style: italic;
}

input {
    width: 180px;
    height: 30px;
}

#cuentaAtras {
    color: red;
}